body {
    text-align: center
}

li {
    display: inline;
    padding: 5%;
    font-size: 2vw;
    font-family: 'Supermercado One', cursive;
}
a:link, a:visited, a:active  {
    text-decoration: none;
    color: inherit;
}
.pswp__caption__center{text-align: center;}

div.container figure{
    text-align: center;
    display: inline-block;

}
div.container img {
    max-width: 500px;
    max-height: 400px;
    box-shadow: 5px 5px 2px grey;

}


#contact {
    display: table;
    margin: 0 auto;
    text-align: left;
}

input {
    width: 20rem;
}

textarea {
    width: 30rem;
    height: 10rem;
}

#submit {
    display: block;
    margin: 0 auto;
    width: 5rem;
    border: 0.1rem;
    font-size: 1rem;
}





